/***********************
 * fallback mode panel *
 ***********************/
PanelWidget,
PanelApplet,
PanelToplevel {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    padding: 0;
    color: @theme_fg_color;
}

PanelApplet {
    border-width: 0;
}

PanelSeparator {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    border-width: 0;
    color: @theme_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    -PanelMenuBar-icon-visible: true;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));
}

PanelAppletFrame { 
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    background-color: @theme_bg_color;
    border-width: 0;
}

PanelApplet .button {
    -GtkButton-inner-border: 2;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
    border-width: 0 1px 0 1px;
    color: @theme_fg_color;
    text-shadow: none;

    box-shadow: none;
}

PanelApplet .button:prelight:active,
PanelApplet .button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.85)),
                                     to (shade(@theme_bg_color, 1.0))); 

    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
    border-width: 0 1px 0 1px;
}

PanelApplet .button:prelight {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.7)),
                                     to (shade(@theme_bg_color, 1.25)));

    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
    border-width: 0 1px 0 1px;
}

ClockBox {
    text-shadow: 0 -1px shade(@theme_bg_color, 0.6);
}

WnckPager, WnckTasklist {
    background-color: @theme_bg_color;
}

/************
 * nautilus *
 ************/
.nautilus-canvas-item {
    border-radius: 3px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: #fff;
    text-shadow: 1px 1px #000;
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-color: alpha(@theme_bg_color, 0.8);
    background-image: none;
    color: @theme_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    background-color: alpha(@theme_selected_bg_color, 0.8);
    background-image: none;
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .sidebar .frame {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
}

NautilusWindow > GtkGrid > .pane-separator {
    background-color: mix(shade(@theme_base_color, 0.9), shade(@theme_selected_bg_color, 1.35), 0.1);
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
}

NautilusView.frame,
NautilusNotebook.notebook {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

NautilusNotebook .frame {
    border-width: 1px 0 0 0;
}

NautilusQueryEditor .primary-toolbar.toolbar {
    border-top-width: 1px;
    border-bottom-width: 0;
    padding: 4px;
}

NautilusQueryEditor .primary-toolbar.toolbar .button {
    padding: 0;
}

NautilusQueryEditor .toolbar {
    background-color: mix(@theme_bg_color, @theme_base_color, 0.5);
    padding: 4px 4px 3px 4px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: @theme_bg_color;
}

NautilusQueryEditor .toolbar:nth-child(2) {
    border-color: shade(@theme_bg_color, 0.8);
}

NautilusNotebook.notebook NautilusQueryEditor .primary-toolbar.toolbar {
    border-top-width: 0;
}

NautilusNotebook.notebook NautilusQueryEditor .toolbar:last-child,
NautilusNotebook.notebook NautilusQueryEditor .primary-toolbar.toolbar:only-child {
    border-bottom-width: 1px;
    border-bottom-color: shade(@theme_bg_color, 0.8);
}

.toolbar NautilusPathBar .button {
    padding: 1px 4px;
}

/******************
 * gnome terminal *
 ******************/
TerminalScreen {
    -TerminalScreen-background-darkness: 0.9;

    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

TerminalWindow GtkNotebook.notebook {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

/***********************
 * gnome control center *
 ***********************/
CcShellItemView.view {
    background-color: @theme_bg_color;
}

/*******
* nemo *
********/

/* This is a dirty, yet working, fix */
.nemo-inactive-pane .view *:selected,
.nemo-inactive-pane .view *:selected:focus {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.0)),
                                     to (shade(@theme_selected_bg_color, 1.0)));
}

