UnityPanelWidget,
.unity-panel {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.2)),
                                     to (shade(@theme_bg_color, 1.0)));

    border-color: shade(@theme_bg_color, 1.0);
    border-style: solid;
    border-width: 0px 0 1px 0px;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0px 1px;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.2)),
                                     to (shade(@theme_bg_color, 1.0)));

    border-color: shade(@theme_bg_color, 0.85);
    color: @theme_fg_color;
}
